<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.icon %}
          <li>
            {% if link.icon contains "fa-" %}
              <!-- Zeigt ein FontAwesome Icon an -->
              <i class="{{ link.icon }}" aria-hidden="true" style="font-size: 24px;"></i>
            {% else %}
              <!-- Zeigt ein benutzerdefiniertes Icon als Bild an -->
              <img src="{{ link.icon }}" alt="" style="max-width: 200px; object-fit: contain;">
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
