---
title: "Portfolio"
permalink: /
layout: splash
header:
  overlay_image: /assets/images/weltkugel.jpg
  overlay_filter: 0.3
author_profile: true
---

<h1>Hello Everyone!</h1>

<p>My name is Annabelle Kiefer and I am a master student at the <a href="https://master-cde.eu/">Copernicus Master in Digital Earth.</a></p>
<p>I am currently studying in my first Semester at the Paris-Lodron-University of Salzburg. Next year, I am going to the Palacky University of Olomouc to study the track Geovisualization and Geocommunication.</p>

{% if page.author_profile %}
  <div class="author-profile">
    <p>Author: {{ site.author.name }}</p>
    <p>{{ site.author.bio }}</p>
  </div>
{% endif %}
